.header-container{
    display: flex;
    padding: 1rem;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.header-nav{
    display: flex;
    align-items: center;
}
.header-link:link,
.header-link:visited{
    text-decoration: none;
    color: rgb(107, 80, 204);
    margin-right: 12px;
}